name: Project Linter Check

on:
  push:
    branches:
      - main

jobs:
  Build-and-run-ESLinter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: make install
      - run: make lint
      - run: make tests